@model Mechanist_Website.Models.MembersInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MembersInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscordID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscordID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscordName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscordName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MCName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MCName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Twitch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Twitch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Youtube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Youtube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
